@media screen and (min-width: 600px) and (max-width: 900px) {

    .hero-img{

        max-width: 100%;
        max-height: 900px;
        width: 100%;
        height: auto;
    
    }
    .advertisement-1 img {

        width: 100%;

    }

    .advertisement-2 img {

        width: 50%;

    }

    .advertisement-3 img {

        width: 50%;

    }

}