@media screen and (min-width: 900px) {
    body{

        background-color: var(--color-background2);
    }
    .hero-img{
  
        grid-row: 2;
        max-width: 100%;
        max-height: 1200px;
        width: 100%;
        height: auto;
        padding: 0px 0px 20px 0px;
    
    }
    #mode {
        position: absolute;
        top: 1rem;
        left: 85rem;
 
    }
    #menu {
        display: none;
        /* hide hamburger button */
    }

    .nav-bar {
        flex-direction: row;
    }

    .nav-bar a {
        display: block;
        flex: 1 1 100%;
        
    }

    .nav-bar a:hover{
        transition: 0.5s;
        background-color: var(--color-background1);  
        color: var(--color-background2);
    }

    .event-weather-box{
        display: flex;
        flex-direction: row;
        padding: 0px 0px 10px 0px;
        

       
    }

    .event, .weather{
        padding: 0px;
    }


    .advertisement-box{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border: 5px solid var(--color-letter1);

    }

    .advertisement-box h1{
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        align-self: center;
    }

    .advertisement-1{
        grid-row: 1;
        grid-column: 2;
        display: grid;
        grid-template-rows:  180px 30px 30px;
        grid-template-columns: 1fr;
        align-items: center;
        align-content: stretch;
        justify-items: center;
        padding: 0px;
    }

    .advertisement-2{
        grid-row: 1;
        grid-column: 3;
        grid-template-rows:  180px 30px 30px;
        grid-template-columns: 1fr;
        align-items: center;
        align-content: stretch;
        justify-items: center;
        padding: 0px;
    }

    .advertisement-3{
        grid-row: 1;
        grid-column: 4;
        grid-template-rows:  180px 30px 30px;
        grid-template-columns: 1fr;
        align-items: center;
        align-content: stretch;
        justify-items: center;
        padding: 0px;
    }

    .advertisement-1 img {

        width: 50%;

    }

    .advertisement-2 img {

        width: 50%;

    }

    .advertisement-3 img {

        width: 50%;

    }

    
}