@media screen and (min-width: 600px) and (max-width: 900px) {

    .hero-img{

        max-width: 100%;
        max-height: 900px;
        width: 100%;
        height: auto;
    
    }
    .advertisement-1 img {

        width: 50%;

    }

    .advertisement-2 img {

        width: 50%;

    }

    .advertisement-3 img {

        width: 50%;

    }

    #menu {
        position:absolute;
        left: 50rem;
    
    }

    .weatherbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 0.5fr;
    
    }

    .weatherbox h3{
        display: grid;
        grid-row: 1;
        grid-column: 1/4;

    }
    .ctn-weather {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px 30px;
        text-align: center;
        gap: 10px;
    }
    .ctn-weather2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid-row: 2;
        grid-column: 2;
        padding: 10px 30px;
        gap: 10px;

    }
    
    .ctn-weather3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid-row: 2;
        grid-column: 3;
        padding: 0px 30px;
        gap: 10px;
    }

    /* BANNER */



.close-btn {
    position: absolute;
    top: 340px;
    left: 650px;

}

.banner picture{
    position: absolute;
    top: 400px;
    left: 200px;
}

    
}

