@media screen and (min-width: 500px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 30px;
        gap: 0px;
        align-items: center;
        background: linear-gradient(rgb(44, 109, 199), rgb(5, 32, 84));
    }

    picture{
        justify-self: center;
        align-self:center ;
        width: 50%;
        height: auto;
    }
    .profile-img{
        justify-self: left;
        width:100%;
        height: auto;
        
    }

    header h1 {
        justify-self:left;
        grid-column: 2;
        grid-row: 1;
    }

    nav {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        border-bottom: 1px solid white;
        

    }

    nav a{
        width: max-content;
        height: max-content;
         
        
    }

    nav a:hover{
        color: rgb(250, 198, 28);    
    }

 

    .hero-img {
        grid-row: 1;
        grid-column: 1/3;
        width: 100%;
        height: auto;
        box-shadow: 10px 5px 5px rgb(2, 3, 89);
    
    }
    h2 {
        grid-row: span 1;
        grid-column: span 2;


    }
    #templename{
        padding: 2px;
        position: absolute;
        left: 40px;
        top: 1080px;  
        font-size: x-large; 
    }
    /* CAMBIOS DEL HAMBURGER BOTTON */
    /* large view navigation ************************************/

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }


}